/*============    Шрифты    ===========*/
@font-face{
	font-family: 'PR';
	src: url('../fonts/reg2/Parangon530C.eot') format('embedded-opentype');
	src: url('../fonts/reg2/Parangon530C.ttf') format('truetype'), 
		 url('../fonts/reg2/Parangon530C.woff2') format('woff2'),
		 url('../fonts/reg2/Parangon530C.svg') format('svg'),
		 url('../fonts/reg2/Parangon530C.woff') format('woff');
}
@font-face{
	font-family: 'HEL';
	src: url('../fonts/hel/ofont.ru_HelveticaNeueCyr.eot') format('embedded-opentype');
	src: url('../fonts/hel/HelveticaNeueCyr-Bold.ttf') format('truetype'), 
		 url('../fonts/hel/ofont.ru_HelveticaNeueCyr.woff2') format('woff2'),
		 url('../fonts/hel/HelveticaNeueCyr-Bold.svg') format('svg'),
		 url('../fonts/hel/HelveticaNeueCyr-Bold.woff') format('woff');
}

@font-face{
	font-family: 'FF';
	src: url('../fonts/reg/Flatform-Light.eot') format('embedded-opentype');
	src: url('../fonts/reg/Flatform-Light.ttf') format('truetype'), 
		 url('../fonts/reg/Flatform-Light.woff2') format('woff2'),
		 url('../fonts/reg/Flatform-Light.svg') format('svg'),
		 url('../fonts/reg/Flatform-Light.woff') format('woff');
}

a:hover,
a:focus,
a:visited,
a:active{
text-decoration: none;
}

/*==font-family: 'PT Sans Caption', sans-serif;===*/
/*============    ШРИФТЫ    ===========*/
body{
	cursor:default;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	padding-left: 0px;
	padding-right: 0px;
}
hr{
				margin-top: 50px;
				margin-bottom: 50px;
	background-color: #BD2130;
	}
header{
	padding-top:0px;
	padding-bottom: 0px;
	right: 150px;
	left: 150px;
	margin: 0 auto;
	z-index: 1000;
	background-color: #FFF;
}
.logo{
	font-size: 40px;
	font-family: 'FF', sans-serif;
	color: #4d4d4d;
	margin-left: 100px;
	a{
		text-decoration: none;
		color: #4D4D4D;
		border: 1px solid;
		-webkit-border-radius: 30%;
		        border-radius: 30%;
		 width: 150px;
		height: 55px;
		
		img{
		height: 100px;
		width: 150px;
		display: block;
		position: absolute;
		margin-left: -150px;
		margin-top: -96px;
		
		
	}
	}
	p{
		margin-left: 5px;
		    text-align: center;
		    
	}
	span{
		color: #BD2130;
	}

	
}
.menu{
	padding-top: 15px;
	ul{
	
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	
	}
	li{
	
		padding: 0px 0px;
		margin-right: 30px;
		display: inline;
		
	}
	a{
		color: #4D4D4D;
		text-decoration: none;
		
		}
		a:hover{

			border-bottom: 1px solid #BD2130;
		}
		li:last-child{
	padding: 0px 0px;
display: inline;
	margin-right: 0px;
}
}

.navbar {
	min-height: 100px;
	border-radius: 0;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	a{
		margin-top: 15px;
		margin-left: 50px;
	}
ul{
display: inline;
	li{
		display: inline;
		a{
			color: #777;
			text-transform: uppercase;
			border: 1px solid #fff;
			margin: 5px;
			padding: 5px;
			font-size: 18px;
			&:hover{
				border-bottom: 1px solid #bd2130;
				color: #000;
				-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 023s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
			}
		}
	}
}

}



.navbar-toggler{
	display: none;
	
}
.collapse{
	display: inline;
	text-align: right;
	margin-top: -100px;
}


.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: #fff;
}

.show-navPos,
.show-winPos {
  position:fixed;
  
  color:#fff;
}

.show-winPos {
  top:0px;
}


.fixed {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
}

.shadow {
    -webkit-box-shadow: 0 1px 3px -1px #757575;
    -moz-box-shadow: 0 1px 3px -1px #757575;
    box-shadow: 0 1px 3px -1px #bd2130;
}


#fon{
	margin: 0 auto;
	display: block;
background: url(../img/33.png) center;
	background-repeat: no-repeat;
height: 670px;

background-size: cover;
}
.name{
	text-align: center;
	margin-top: 200px;
	
	h1{
	text-transform: uppercase;
			font-family: 'PR', sans-serif;
			font-size: 48px;
			color: #FFF;
			line-height: 70px;
}
p{
	margin-top: 50px;
font-family: 'PT Sans Caption', sans-serif;
	color: #FFF;
	font-size: 24px;
	text-transform: uppercase;
	
}
a{
	text-transform: uppercase;
		margin-top: 50px;
		color: #FFF;
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
		background-color: #bd2130;
		-webkit-border-radius: 20px;
		        border-radius: 20px;
		width: 300px;
		height: 50px;
		padding: 11px;

	}
a:hover{

			color: #555;
			font-weight: bold;
			background-color: #fff;
		}
}

#serv{
		width: 100%;
		
	}
	.serv{
	
		
			text-align: center;
			h2{
				text-transform: uppercase;
			font-family: 'PR', sans-serif;
			font-size: 40px;
			color: #000;
			line-height: 70px;
			margin-top: 50px;
			}
			p{
				padding-left: 10px;
				padding-right: 10px;
				text-align: center;
				margin-top: 30px;
font-family: 'PT Sans Caption', sans-serif;
	color: #000;
	font-size: 20px;
			}
			
	}
	.serv-option{
			text-align: center;
		
			
		
	}
	.site, .supp,.sub{
				margin-bottom: 50px;

			border: 1px solid #ccc;

		margin-top: 10px;
					background-color: #FFF;
font-size: 30px;
		h5{
text-transform: uppercase;
			font-family: 'HEL', sans-serif;
			font-size: 20px;
			color: #000;
			text-align: center;
		}
		ul {
			margin-top: 50px;
    list-style: none;
}

ul li:before {
    content:  "—";
    position: relative;
    left:     -5px;
}

	}
.site{
	border-right: none;
}
.sub{
	border-left: none;
}




.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	margin-top: 100px;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #BD2130;
}



.back li {
	margin: 10px;
	font-family: 'HEL', sans-serif;
	font-size: 20px;
	color: #fff;
	text-align: left;
	line-height: 20px;
	margin-top: 20px;
	
}

#site{
	
	ul{
		text-align: center;
		display: block;
		margin: 0 auto;
		li{
			display: inline-block;
			
		}
	}
.nav-tabs {
    border-bottom: 1px solid #BD2130;
}
	a{
		color: #888;
		margin: 20px;
		text-align: center;
		
		font-size: 25px;
		text-transform: uppercase;
		font-family: 'HEL', sans-serif;
		&:hover{
			color: #BD2130;
		}
	}
	p{
		text-align: justify;
		font-size: 18px;
		 font-family: 'Source Sans Pro', Arial, sans-serif;
		 span{
		 	font-size: 20px;
		 	font-weight: bold;
		 }
	}
	.tab-content{
		margin-top: 25px;
		margin-bottom: 50px;
	}
}

#tarif{

	.info{
		p{
		text-align: left;
		color: #929292;	
		margin-left: 12px;
		margin-bottom: 50px;
		}
		
	}
.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;

 
}

.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  width: 270px; /* width of each table */
  margin-right: 10px; /* spacing between tables */
  margin-bottom: 1em;
  border: 1px solid gray;
  transition: all .5s;
  .price{
  	  p{
  	font-size: 20px;
  	text-align: center;
  	padding: 5px;
  	color: #444;
  	margin: auto;
  	font-family: 'Source Sans Pro', Arial, sans-serif;
  }
  span{	
  	font-weight: bold;
  	color: #BD2130;
  	text-transform: uppercase;
  	font-size: 20px;
  	font-family: 'Source Sans Pro', Arial, sans-serif;
  	
  }
  }


}

	
.pricingdiv ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .4s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan .center{
  margin: 0 auto;
  text-align: center;
}


.pricingdiv ul.theplan li{
  padding: 5px 10px;
  position: relative;
  border-bottom: 1px solid #eee;
  span{
  	font-size: 14px;
  	text-transform: uppercase;
  	color: #BD2130;
  	font-weight: bold;
  	font-family: 'Source Sans Pro', Arial, sans-serif;
  }
  
  
}

.pricingdiv ul.theplan li.title{
height: 180px;
  font-weight: bold;
  text-align: center;
  padding: 30px 10px;
  background: #bd2161;
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  text-transform: uppercase;
}

.pricingdiv ul.theplan:nth-of-type(2) li.title{
  background: #21bd68;
  color: white;
}
    
.pricingdiv ul.theplan:nth-of-type(3) li.title{
  background: #7421bd;
  color: white;
}
.pricingdiv ul.theplan:nth-of-type(4) li.title{
  background: #f13d12;
  color: white;
}
.pricingdiv ul.theplan:nth-of-type(1) p{
	margin-top: 230px;
	
}.pricingdiv ul.theplan:nth-of-type(2) p{
margin-top: 103px;

}
.pricingdiv ul.theplan:nth-of-type(3) p{
margin-top: 47px;

}
.pricingdiv ul.theplan:nth-of-type(4) p{
margin-top: 8px;

}
.pricingdiv ul.theplan li b{
	font-size: 14px;
  text-transform: uppercase;
}
.pricingdiv ul.theplan li.title b{
  font-size: 250%;
}

.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv a.pricebutton{
  background: #444;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  &:hover{
  	background: #BD2130;
  }
}
.prices{
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .pricingdiv ul.theplan{
    border-radius: 0;
    width: 100%;
    margin-right: 0;
  }
  
  .pricingdiv ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }
  
  .pricingdiv a.pricebutton{
    display: block;
  }
}
}


#work{
	background-color: #FDEAEA;
	width: 100%;

.work{

	h2{
		text-align: center;
				text-transform: uppercase;
			font-family: 'PR', sans-serif;
			font-size: 40px;
			color: #000;
			margin-top: 50px;
			}
			p{
				padding-left: 10px;
				padding-right: 10px;
				text-align: center;
				margin-top: 30px;
font-family: 'PT Sans Caption', sans-serif;
	color: #000;
	font-size: 20px;
			}
}


/* generic css */

.all{
	text-align: center;
}

.view {
	display: inline-block;
	  margin: 10px;
  float: none;
  border: 1px solid #9da0a2;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
 
  }
  .last1{
  	margin-bottom: 50px;
  }
  .last2{
  	margin-bottom: 50px;
  }
.view .mask,
.view .content {
  width: 450px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative;
  
  
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  margin-top: 90px;
}

.view a.info:hover {
  box-shadow: 0 0 5px #000
}


/*1*/

.view-first img {
  /*1*/
  transition: all 0.2s linear;
  width: 450px;
  height: 200px;
  
  
}

.view-first .mask {
  opacity: 0;
  background-color:rgba(170, 30, 43, 0.8);
  transition: all 0.4s ease-in-out;
}



.view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}


/* */

.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}



.view-first:hover a.info {
  transition-delay: 0.2s;
}

}
#about{

		h2{
		text-align: center;
				text-transform: uppercase;
			font-family: 'PR', sans-serif;
			font-size: 40px;
			color: #000;
			margin-top: 50px;
			}
			.txt1{
				margin-bottom: 50px;
				p{
			padding-left: 10px;
				padding-right: 10px;
text-align: justify;
font-family: 'PT Sans Caption', sans-serif;
	color: #000;
	font-size: 20px;
	margin-top: -15px;
		span{
					font-weight: bold;
					text-align: justify;
					color: #BD2130;
				}
				a{
	color: #000;
		border-bottom: 2px dashed #BD2130;
		font-weight: bold;
		font-family: 'PT Sans Caption', sans-serif;
		text-align: center;
		&:hover{
			cursor: pointer;
		color: #BD2130;	
		border-bottom: 2px dashed #000;
		}
		
	}
	
			}
			ul{
				padding-right: 10px;
		text-align: justify;
		font-family: 'PT Sans Caption', sans-serif;
	color: #000;
	font-size: 20px;
	margin-top: -15px;
	span{
		font-weight: bold;
		text-align: justify;
		color: #BD2130;
	} 
	}

			}
			
	
	}

#progress{
	h3{
			text-align: center;
				text-transform: uppercase;
			font-family: 'PR', sans-serif;
			font-size: 30px;
			color: #444444;	
		}
	
.serv_progress{
		display: inline-block;
		background-color: #FFF;
		border: 1px solid #ccc;
		margin: 25px auto 30px;
		margin-bottom: 50px;
		span{
			text-align: left;
			text-transform: uppercase;
			margin-left:10px;
			font-size: 12px;
			font-family: 'Raleway', sans-serif;
			margin-top: 20px;
			font-weight: bold;

		}
		}
.progress {
    height: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
  animation: progress 1.5s ease-in-out forwards;
    
}
.progress-bar-success {
    background-color: #bd2130;
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

}


#txt2{
	
		background-color: #ffe7e9;
	
	h3{
		text-align: left;
				text-transform: uppercase;
			font-family: 'PR', sans-serif;
			font-size: 30px;
			color: #000;
			margin-top: 50px;
			}
			.txt2{
				margin-top: 10px;
			p{
				padding-left: 10px;
				padding-right: 10px;
				 text-indent: 20px;
				text-align: justify;
font-family: 'PT Sans Caption', sans-serif;
	color: #000;
	font-size: 20px;
	margin-top: -15px;
			}
		
}	
.img2{
img{
	display: block;
	margin: 0 auto;
				height: 400px;
				width: 500px;
				margin-bottom: 50px;
			}	
}

}
#txt3{
	
		h3{
		text-align: right;
				text-transform: uppercase;
			font-family: 'PR', sans-serif;
			font-size: 30px;
			color: #000;
			margin-top: 50px;
			}
			.txt3{
				margin-top: 10px;
			p{
				padding-left: 10px;
				padding-right: 10px;
				text-align: justify;
			margin-top: -15px;
 text-indent: 20px;
font-family: 'PT Sans Caption', sans-serif;
	color: #000;
	font-size: 20px;
			}
			
}
.img3{
img{
	display: block;
	margin: 0 auto;
				height: 400px;
				width: 500px;
				margin-bottom: 50px;
			}	
}
}
.txt4{
	p{
		text-align: center;
		font-size: 25px;
		font-family: 'PT Sans Caption', sans-serif;
		margin-bottom: 50px;
		font-weight: bold;
		color: #BD2130;
	}
	hr{
		width: 60%;
		margin-top: -50px;
		height: 1px
		
	}
}
/*============    ПРИЕМУЩЕСТВА   ===========*/
#comment{
			background-color: #fdeaea;
width: 100%;

	text-align: center;
	h2{
		text-align: center;
				text-transform: uppercase;
			font-family: 'PR', sans-serif;
			font-size: 40px;
			color: #000;
			margin-top: 50px;
			}
			
	
}



.slider2{
 		color: #444444;
 		height: 100%;
 		text-align: center;
 		padding: 20px;
 	img{
 		width: 150px;
 		display: inline;
 		-webkit-border-radius: 50%;
 			    border-radius: 50%;
 		}
 	p{
 		padding-left: 10px;
 		padding-right: 10px;
margin-top: 30px;
font-family: 'PT Sans Caption', sans-serif;
	color: #000;

 		font-size: 16px;
 		text-align: center;
 		
 		line-height: 20px;
 		}
 p.namefeed{
 		
 		color: #444444;
 		line-height: 18px;
 		font-size: 12px;
 	span{
 		
 		font-size: 17px;
 		font-weight: bold;	
 		}
 		}
 		
 		
 	}	
.slick-active{
 		outline: none;
 		}
 		.slick-next{
 			right: 0px;
 		}
 		.slick-prev{
 			left: 0px;
 		}
.slick-prev, .slick-next{
	
	
 	&:before{
 		font-size: 25px;
 		color: #444444;
 	}

 }

.slick-dots li button{
 	&:before{
 		color: #28a745;
 		opacity: 0.5;
 }

 }
.slick-dots li.slick-active button{
 	&:before{
 		color: #28a745;
 		opacity: 1;
 	}
 }


#bay{
	text-align: center;
	background-color: #aa1e2b;
	color: #fff;
	text-decoration: none;
	h3{
		margin-top: 10px;
		font-size: 25px;

		
	}
	a{
		color: #fff;
	}
	.btn{
	text-transform: uppercase;
		color: #FFF;
		font-weight: 500;
		border: 1px solid #fff;
		-webkit-border-radius: 20px ;
		        border-radius: 20px ;
		width: 200px;
		height: 50px;
		padding: 11px;

	}
.btn:hover{

			color: #555;
			font-weight: bold;
			background-color: #fff;
		}
}

  /*============    КОНТАКТЫ   ===========*/
#contacts{
		text-align: center;

	h2{
		margin-top: 50px;
		margin-bottom: 50px;
 		text-transform: uppercase;
			font-family: 'PR', sans-serif;
			font-size: 40px;
			color: #000;
			line-height: 70px;
 		}
.namecontacts{
		text-align: center;
 		margin-bottom: 50px;
 	
} 					

p#phone_footer{
		color: #444444;
		margin-bottom: 0px;
		text-transform: uppercase;
				font-weight: bold;
					text-align: center;
	}
p#number{
	margin-top: 20px;
		text-align: center;
		color: #444444;
		font-size: 20px;
		
	a{
		font-size: 20px;
		color: #444444;
		
	text-decoration: none;
&:hover{	
	span{
		color: #AA1E2B;
	}
		
		}
	
		}
	}



p#social{
		color: #444444;
		margin-bottom: 0px;
		text-transform: uppercase;
		font-weight: bold;
			text-align: center;


	}
	.soc-icon{
		margin-top: 20px;
	
		
	span{
	text-align: center;
	font-size: 30px;
	
	&:hover{
		cursor: pointer;
		color: #aa1e2b;
	
	
}
}
	a{
		text-decoration: none;
		
	
	}

.icon-facebook2{
  color: #4267B2;
}
.icon-instagram{
    background: linear-gradient(200deg, #d63789 33%, #7557c4 66%, #fdc45d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #d63789;
      &:hover{
      	color: #AA1E2B;
      	 background: linear-gradient(200deg, #AA1E2B 33%, #AA1E2B 66%, #AA1E2B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      }
}
.icon-whatsapp{
  color: #0fbd78;

  
}
.icon-telegram{
  color: #32AFED;
}
.icon-vk{
  color: #4A76A8;
}

	}


}
.fon{

	margin-top: -15px;
	background-color: #444444;

	
 		}
.details, .namekrd, .tigran{
		font-size: 15px;
 		
 	p{
 		text-align: center;
 		margin-top: 10px;
 		margin-bottom: 5px;
 		color: #FFF;
 	}
 	a{
 		color: #f48942;
 	}
 }
.tigran{
	span{
	}
	
}




form input, textarea {
    position: relative;
    padding: 10px 10px 10px 40px;
    width: 100%;
    font-style: italic;
    border: none;
    border-bottom: 1px dashed #ddc;
    background: rgba(230,230,230,0);
    color: #000;
    resize: none;
    font-family: 'PT Sans', sans-serif;
    transition: 0.3s;
}

input[type=checkbox]{
	width: 50px;
	margin-right: -10px;
}
input[type=submit]{
	display: block;
	margin: 0 auto;
	width: 200px;
	text-align: center;
	padding: 10px;
border: 1px solid;
-webkit-border-radius: 20px;
        border-radius: 20px;
	background-color: #AA1E2B;
	color: #fff;
&:hover{
	color: #000;
	background-color: #fff;
}
}
#politika{
	background-color: #f7c7c7;
			font-family: 'PT Sans Caption', sans-serif;

	h1{
		font-weight: bold;
		margin-top: 50px;
		text-align: center;
		font-size: 30px;
		margin-bottom: 50px;
	}
	h2{
		font-weight: bold;
		margin-top: 40px;
		margin-bottom: 20px;
		text-align: center;
		font-size: 25px;
	}
	p{
		font-size: 16px;
		line-height: 20px;
		span{
			font-weight: bold;
		}
	}
}
/*============    ГЛАВНЫЙ ЭКРАН    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ПОДВАЛ    ===========*/

/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/

/*============    	АДАПТИВ    ===========*/

@media(min-width:0px) and (max-width:320px) {
	.view-first img {
    width: 100%;   
}
	.wow{
		animation-name:none
	}
	.name h1 {
    text-transform: uppercase;
    font-family: PR,sans-serif;
    font-size: 36px;
    color: #FFF;
    line-height: 70px;
}
	.menu li {
    padding: 0px 0px;
    margin-right: 8px;
    display: inline;
}
		.navbar ul li a {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    &:hover{
    	    border: 1px solid #bd2130;

    }
}
	.navbar a{
		margin-left: 0;
	}
	.navbar-toggler{
	display: block;
}
.collapse{
	display: none;
	margin-top: 0px;
}
.navbar {

ul{
display: block;
	li{
	display: block;
		a{
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
}
}
.view {

    width: 90%;
}
.logo a img {
    height: 100px;
    width: 150px;
    display: none;
    position: absolute;
    margin-left: -150px;
    margin-top: -96px;
}
.navbar a {
    margin-top: 0px;
    margin-left: 0px; 
}
.logo{

	margin-left: 0px;
}
#txt2 .img2 img{

	display: none;
}
#txt3 .img3 img{
	display: none;
}
.col-lg-6{
	    flex: 0 0 100%;
    max-width: 100%
}
#txt2 h3{
	text-align: center;
}
#txt3 h3{
	text-align: center;
}
#txt2 .txt2{
	margin-bottom: 50px;
}
#work .view .content, #work .view .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
#work .view-first img {
    transition: all .2s linear;
    width: 100%;
    height: 100%;
}
#work .last1{
	margin-bottom: 10px;
}
#bay h3 {
    margin-top: 10px;
    font-size: 15px;
    padding: 0px 18px;
    line-height: 35px;
}
#comment {
    display: none;
}
#tarif .pricingdiv ul.theplan li.title{
	padding: 60px 10px;
}
#tarif .pricingdiv ul.theplan:nth-of-type(1) p {
    margin-top: 0px;
}
#tarif .pricingdiv ul.theplan:nth-of-type(2) p {
    margin-top: 0px;
}
#tarif .pricingdiv ul.theplan:nth-of-type(3) p {
    margin-top: 0px;
}
#tarif .pricingdiv ul.theplan:nth-of-type(4) p {
    margin-top: 0px;
}
#site p{
	padding: 10px;
}
.site{
	border-right: 1px solid #ccc;
}
.sub{
	border-left: 1px solid #ccc;
}
}

@media(min-width:321px) and (max-width:480px) {
	.view-first img {
    width: 100%;
}
	.name h1 {
    text-transform: uppercase;
    font-family: PR,sans-serif;
    font-size: 36px;
    color: #FFF;
    line-height: 70px;
}
	.view {
  
    width: 90%;
}
	.navbar ul li a {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    &:hover{
    	    border: 1px solid #bd2130;
padding: 5px 0px 0px 0px;
    }
}
	.navbar a{
		margin-left: 0;
	}
	.navbar-toggler{
	display: block;
}
.collapse{
	display: none;
	margin-top: 0px;
}
.navbar {

ul{
display: block;
	li{
	display: block;
		a{
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
}
}
	.wow{
		animation-name:none
	}
	.menu li {
    padding: 0px 0px;
    margin-right: 8px;
    display: inline;
}
.menu ul {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0;
}
.view-first img {
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.name h1 {
    text-transform: uppercase;
    font-family: 'PR', sans-serif;
    font-size: 35px;
    color: #FFF;
    line-height: 70px;
}
.site, .supp, .sub {
    margin-bottom: 50px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: #FFF;
    font-size: 30px;
}
.serv {
    
    margin-bottom: -40px;
}
#bay h3 {
    margin-top: 10px;
    font-size: 17px;
    padding: 0px 18px;
    line-height: 35px;
}
#bay .btn {
    text-transform: uppercase;
    color: #FFF;
    font-weight: 500;
    border: 1px solid #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    padding: 7px;
    
}
.logo a img {
    height: 100px;
    width: 150px;
    display: none;
    position: absolute;
    margin-left: -150px;
    margin-top: -96px;
}

.navbar a {
    margin-top: 0px;
    margin-left: 0px; 
}
.logo{

	margin-left: 0px;
}
#txt2 .img2 img{

	display: none;
}
#txt3 .img3 img{
	display: none;
}
.col-lg-6{
	    flex: 0 0 100%;
    max-width: 100%
}
#txt2 h3{
	text-align: center;
}
#txt3 h3{
	text-align: center;
}
#txt2 .txt2{
	margin-bottom: 50px;
}
#work .view .content, #work .view .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
#work .view-first img {
    transition: all .2s linear;
    width: 100%;
    height: 100%;
}
#work .last1{
	margin-bottom: 10px;
}
#comment {
    display: none;
}
#tarif .pricingdiv ul.theplan li.title{
	padding: 60px 10px;
}
#tarif .pricingdiv ul.theplan:nth-of-type(1) p {
    margin-top: 0px;
}
#tarif .pricingdiv ul.theplan:nth-of-type(2) p {
    margin-top: 0px;
}
#tarif .pricingdiv ul.theplan:nth-of-type(3) p {
    margin-top: 0px;
}
#tarif .pricingdiv ul.theplan:nth-of-type(4) p {
    margin-top: 0px;
}
#site p{
	padding: 10px;
}
.site{
	border-right: 1px solid #ccc;
}
.sub{
	border-left: 1px solid #ccc;
}
}

@media(min-width:481px) and (max-width:575px) {
	.wow{
		animation-name:none
	}
	.menu li {
    padding: 0px 0px;
    margin-right: 8px;
    display: inline;
}
.menu ul {
    margin-left: -26px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}
		.navbar ul li a {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    &:hover{
    	    border: 1px solid #bd2130;
padding: 5px 0px 0px 0px;
    }
}
	.navbar a{
		margin-left: 0;
	}
	.navbar-toggler{
	display: block;
}
.collapse{
	display: none;
	margin-top: 0px;
}
.navbar {

ul{
display: block;
	li{
	display: block;
		a{
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
}
}
.logo a img {
    height: 100px;
    width: 150px;
    display: none;
    position: absolute;
    margin-left: -150px;
    margin-top: -96px;
}
.navbar a {
    margin-top: 0px;
    margin-left: 0px; 
}
.logo{

	margin-left: 0px;
}
#txt2 .img2 img{

	display: none;
}
#txt3 .img3 img{
	display: none;
}
.col-lg-6{
	    flex: 0 0 100%;
    max-width: 100%
}
#txt2 h3{
	text-align: center;
}
#txt3 h3{
	text-align: center;
}
#txt2 .txt2{
	margin-bottom: 50px;
}
#work .view-first img {
    transition: all .2s linear;
    width: 100%;
    height: 100%;
}
#work .last1{
	margin-bottom: 10px;
}
#comment {
    display: none;
}
.site{
	border-right: 1px solid #ccc;
}
.sub{
	border-left: 1px solid #ccc;
}
}
@media(min-width:576px) and (max-width:768px) {
	.wow{
		animation-name:none
	}
	.menu li {
    padding: 0px 0px;
    margin-right: 8px;
    display: inline;
}
	.navbar ul li a {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
   &:hover{
    	    border: 1px solid #bd2130;
padding: 5px 0px 0px 0px;
    }
}
	.navbar a{
		margin-left: 0;
	}
	.navbar-toggler{
	display: block;
}
.collapse{
	display: none;
	margin-top: 0px;
}
.navbar {

ul{
display: block;
	li{
	display: block;
		a{
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
}
}
.logo a img {
    height: 100px;
    width: 150px;
    display: none;
    position: absolute;
    margin-left: -150px;
    margin-top: -96px;
}
.navbar a {
    margin-top: 0px;
    margin-left: 0px; 
}
.logo{

	margin-left: 0px;
}
#txt2 .img2 img{

	display: none;
}
#txt3 .img3 img{
	display: none;
}
.col-lg-6{
	    flex: 0 0 100%;
    max-width: 100%
}
#txt2 h3{
	text-align: center;
}
#txt3 h3{
	text-align: center;
}
#txt2 .txt2{
	margin-bottom: 50px;
}
.site{
	border-right: 1px solid #ccc;
}
.sub{
	border-left: 1px solid #ccc;
}
#work .last1{
	margin-bottom: 10px;
}

}
@media(min-width:769px) and (max-width:992px) {
.menu li {
    padding: 0px 0px;
    margin-right: 8px;
    display: inline;
}
.logo a img {
    height: 100px;
    width: 150px;
    display: none;
    position: absolute;
    margin-left: -150px;
    margin-top: -96px;
}
.navbar a {
    margin-top: 0px;
    margin-left: 0px; 
}
.logo{

	margin-left: 0px;
}
#txt2 .img2 img{

	display: none;
}
#txt3 .img3 img{
	display: none;
}
.col-lg-6{
	    flex: 0 0 100%;
    max-width: 100%
}
#txt2 h3{
	text-align: center;
}
#txt3 h3{
	text-align: center;
}
#txt2 .txt2{
	margin-bottom: 50px;
}
#txt2 .txt2{
	margin-bottom: 50px;
}
}

@media(min-width:993px) and (max-width:1200px) {
.menu li {
    padding: 0px 0px;
    margin-right: 8px;
    display: inline;
}
.logo a img {
    height: 100px;
    width: 150px;
    display: none;
    position: absolute;
    margin-left: -150px;
    margin-top: -96px;
}
.navbar a {
    margin-top: 0px;
    margin-left: 0px; 
}
.logo{

	margin-left: 0px;
}
#txt2 .img2 img{

	display: none;
}
#txt3 .img3 img{
	display: none;
}
.col-lg-6{
	    flex: 0 0 100%;
    max-width: 100%
}
#txt2 h3{
	text-align: center;
}
#txt3 h3{
	text-align: center;
}
#txt2 .txt2{
	margin-bottom: 50px;
}
}



