/*============    Шрифты    ===========*/
@font-face {
  font-family: 'FF';
  src: url('../fonts/reg/Flatform-Light.eot') format('embedded-opentype');
  src: url('../fonts/reg/Flatform-Light.ttf') format('truetype'), url('../fonts/reg/Flatform-Light.woff2') format('woff2'), url('../fonts/reg/Flatform-Light.svg') format('svg'), url('../fonts/reg/Flatform-Light.woff') format('woff');
}
@font-face {
  font-family: 'SR';
  src: url('../fonts/reg/Satellite-Regular.eot') format('embedded-opentype');
  src: url('../fonts/reg/Satellite-Regular.ttf') format('truetype'), url('../fonts/reg/Satellite-Regular.woff2') format('woff2'), url('../fonts/reg/Satellite-Regular.svg') format('svg'), url('../fonts/reg/Satellite-Regular.woff') format('woff');
}
@font-face {
  font-family: 'SOC';
  src: url('../fonts/reg/Socialico.eot') format('embedded-opentype');
  src: url('../fonts/reg/Socialico.ttf') format('truetype'), url('../fonts/reg/Socialico.woff2') format('woff2'), url('../fonts/reg/Socialico.svg') format('svg'), url('../fonts/reg/Socialico.woff') format('woff');
}
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
/*============    ШРИФТЫ    ===========*/
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0px;
  padding-right: 0px;
}
header {
  padding-top: 50px;
  padding-bottom: 50px;
  right: 150px;
  left: 150px;
  margin: 0 auto;
}
.logo {
  padding-left: 15px;
  font-size: 40px;
  font-family: 'FF', sans-serif;
  color: #4d4d4d;
}
.menu {
  padding-top: 10px;
}
.menu ul {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}
.menu li {
  padding: 0px 0px;
  margin-right: 50px;
  display: inline;
}
.menu a {
  color: #4D4D4D;
  text-decoration: none;
}
.menu a:hover {
  border-bottom: 1px solid #4D4D4D;
}
li:last-child {
  padding: 0px 0px;
  display: inline;
  margin-right: 0px;
}
#fon {
  padding-left: 15px;
  display: block;
  text-align: center;
  width: 100%;
  height: 650px;
  background: url(../img/111.png) center;
  background-repeat: no-repeat;
}
#fon h1 {
  margin-top: 230px;
  text-align: center;
  font-family: 'SR', sans-serif;
  font-size: 50px;
}
#fon p {
  margin-top: 40px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#fon a {
  text-transform: uppercase;
  margin-top: 50px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: #4d4d4d;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  padding: 11px;
}
#fon a:hover {
  color: #4d4d4d;
  background-color: #fff;
}
#services {
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
#services .servic_txt h6 {
  padding-left: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 40px;
  font-size: 22px;
}
#services .servic_txt p {
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  font-size: 14px;
}
#video {
  padding-left: 15px;
  width: 100%;
  text-align: center;
  padding-top: 180px;
}
#video .video_text h6 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 30px;
}
#video .video_text p {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 80px;
  font-size: 16px;
}
#work {
  padding-top: 100px;
  width: 100%;
  text-align: center;
}
.brand img {
  text-align: center;
}
.brand a {
  text-transform: uppercase;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: #4d4d4d;
  width: 260px;
  height: 60px;
  padding: 16px;
  margin-top: -60px;
  visibility: hidden;
  text-align: center;
}
.brand:hover a {
  cursor: pointer;
  visibility: visible;
}
.recent_work h6 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-bottom: 80px;
  font-size: 30px;
  text-align: center;
}
#sub {
  text-align: center;
  width: 100%;
}
#sub h6 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 30px;
  text-align: center;
}
#sub p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#sub a {
  text-transform: uppercase;
  margin-top: 50px;
  color: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #4d4d4d;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  padding: 11px;
  margin-bottom: 90px;
  text-align: center;
}
#sub a:hover {
  color: #fff;
  background-color: #4d4d4d;
}
.sub {
  margin-top: 100px;
  background-color: #f5f5f5;
}
#social {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.soc {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.icon-twitter,
.icon-google-plus,
.icon-dribbble {
  border: 1px solid #4d4d4d;
  padding: 15px;
  text-align: center;
  margin-left: 60px;
  text-decoration: none;
  color: #4d4d4d;
}
.icon-facebook {
  margin-left: 0px;
  border: 1px solid #4d4d4d;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #4d4d4d;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-facebook:hover {
  background-color: #55acee;
  color: #fff;
  border: 1px solid #55acee;
}
.icon-google-plus:hover {
  background-color: #55acee;
  color: #fff;
  border: 1px solid #55acee;
}
.icon-dribbble:hover {
  background-color: #55acee;
  color: #fff;
  border: 1px solid #55acee;
}
.icon-twitter:hover {
  background-color: #55acee;
  color: #fff;
  border: 1px solid #55acee;
}
footer {
  width: 100%;
  background-color: #3B3B3B;
  color: #fff;
}
footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #D4D4D4;
  margin-left: 15px;
  margin-top: -30px;
}
footer p span {
  text-decoration: underline;
}
footer a {
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-left: 15px;
  color: #d4d4d4;
}
.footer_end {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 40px;
}
.footer_end h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 40px;
}
.map a {
  color: #D4D4D4;
  text-decoration: underline;
}
/*============    ГЛАВНЫЙ ЭКРАН    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ПОДВАЛ    ===========*/
/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/
/*============    	АДАПТИВ    ===========*/
@media (min-width: 0px) and (max-width: 320px) {
  .logo {
    text-align: center;
  }
  .icon-twitter,
  .icon-google-plus,
  .icon-dribbble {
    margin-left: 5px;
  }
  #sub a {
    width: 250px;
  }
  #fon a {
    width: 250px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .logo {
    text-align: center;
  }
  .icon-twitter,
  .icon-google-plus,
  .icon-dribbble {
    margin-left: 5px;
  }
}
@media (min-width: 481px) and (max-width: 575px) {
  .logo {
    text-align: center;
  }
  .brand a {
    margin: 13px;
    margin-top: -74px;
  }
  .menu {
    margin-left: -8%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .logo {
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .logo {
    text-align: center;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .menu {
    margin-left: -11%;
  }
}
